bridge-api/node_modules/
bridge-api/dist/
bridge-api/.env
bridge-api/npm-debug.log
bridge-api/yarn-error.log


wallet-app/vendor/
wallet-app/node_modules/
wallet-app/public/storage/
wallet-app/storage/*.key
wallet-app/storage/app/*
wallet-app/storage/framework/cache/data/*
wallet-app/storage/framework/sessions/*
wallet-app/storage/framework/views/*
wallet-app/storage/logs/*
wallet-app/.env
wallet-app/.env.backup


.DS_Store
Thumbs.db

.vscode/
/*.log